/* GENERAL */
html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: 'Mina', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1, h2, h3, h4 {
  font-family: 'Patua One', serif;
}

h2 small {
  font-size: 20px;
}

.parentDiv {
  padding-bottom: 40px;
}

ul li {
  list-style-type: none;
}

/* RESET */
.navbar {
  margin-bottom: 0;
}

/* Spinner */
.spinner {
  padding-top: 30px;
  text-align: center;
}

/* Navigation Component */

.twitter-btn {
  background-color: transparent;
  color: #2fa5f9;
  border: none;
  padding: 0;
}

.navbar {
  margin-bottom: 25px;
}

.navbar-nav li a,
.navbar-brand {
  color: #e84855 !important;
}

.navbar-nav li a:hover,
.navbar-brand:hover {
  color: #ddd !important;
}

li.signOut a {
  background-color: #101010 !important;
}

.activeLink {
  color: #ddd !important;
}

/* Masonry */
ul {
  padding: 0;
}

.img {
  box-sizing: border-box;
  width: 25%;
  border: 10px solid #FFF;
  padding: 10px;
  position: relative;
  background-color: #1a1a1c;
  color: #ddd;
  transition: all 0.3s ease;
}

.img:hover {
  background-color: #ddd;
  color: #1a1a1c;
}

.img img {
  width: 100%;
  border-radius: 10px;
}

.img button {
  float: right;
  margin-top: -4px;
}

.img p {
  padding-bottom: 10px;
  margin-top: 20px;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 40px;
  background-color: #1a1a1c;
  color: #ddd;
}

footer p {
  text-align: center;
  padding-top:15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

footer .row p {
  text-align: left;
}

footer .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

footer .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

footer h4 {
  color: #e84855;
}

footer a {
  color: #e84855;
  text-align: center;
}

footer a:hover {
  color: #999;
  text-decoration: none;
}

footer .small {
  font-size: 75%;
}

@media screen and (min-width: 945px) {
  footer .row div {
    border-right: 1px solid #e84855;
  }

  footer .row div:last-of-type {
    border-right: none;
  }
}
